h1{
    text-align: center;
}

.cards-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.card{
    border: 1px solid;
    text-align: center;
    padding: 1rem;
}